/Java/pruebajava/EjmDeClase/target/
/Java/ConexionBaseDatos/ConexionBD1/nbproject/private/
/Java/ConexionBaseDatos/ConexionBD/target/
/Java/ConexionBaseDatos/conexion/conexion/nbproject/private/
/Java/ConexionBaseDatos/conexion/conexion/build/
/Java/iniciodeseccion/IniciodeSeccion/nbproject/private/
/Java/iniciodeseccion/IniciodeSeccion/build/
